<footer class="footer footer-transparent">
  <div
    class="container d-flex flex-lg-row flex-column justify-content-lg-between justify-content-center align-items-center">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">Company</a>
        </li>
        <li>
          <a href="/">Portfolio</a>
        </li>
        <li>
          <a href="/">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy; 2018 <a href="http://www.threefunkymonkeys.com">Three Funky Monkeys</a>, made with love for the FIFA World Cup
    </div>
  </div>
</footer>
