<footer class="navbar navbar-inverse"> 
  <div class="container">
    <p class="pull-left">threefunkymonkeys © <%= Time.now.year %> / all rights reserved</p>
    <a href="http://threefunkymonkeys.com/" class="pull-right tfm-logo"><img src="/img/3fm_footer.png" title="Three Funky Monkeys" alt="Three Funky Monkeys"></a>
  </div>
</footer>
