<div id="navbar" class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a id="home-link" href="/">Funky World Cup</a>
        <img id="flag" src="/img/flag.png" />
        <div class="year">2014</div>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
      <% if user_authenticated? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= current_user.image %>" />
              <%= current_user.nickname %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/groups">Groups</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
            <ul class="dropdown-menu">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </a>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
