.navbar-brand {
  .logo-mini {
    color: $light-gray;

    img {
      width: 30px;
      height: auto;
    }
    .brand-name {
      padding-left: 1rem;
    }
  }
}

.fixed-height {
  height: 100%;
  align-items: flex-start !important;
  display: flex;

  .card-wrapper {
    height: 100%;
    max-height: 100%;
  }
  .card-body {
    max-height: 100%;
    overflow: scroll;
  }
  .content {
    overflow: scroll;
  }
}

.home.full-page {
  .content {
    height: 100%;
    padding-top: 6vh !important;
  }

  .card {
    height: calc(100vh - 205px);

    .card-body {
      overflow: auto;
      overflow-y: scroll;
    }
  }
}

#home-login {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  height: 100%;

  .card-body {
    overflow: hidden;
    overflow-y: hidden;
  }

  .btn-social {
    margin: 0 15px;
  }
}
