$modal-border-color: #e9ecef;

img.flag {
  width: 70px;
  height: auto;
}

.modal-header {
  border-bottom: 1px solid $modal-border-color;

  .modal-title {
    margin-top: 0px !important;
  }
}

.modal-footer {
  border-top: 1px solid $modal-border-color;
}

.predict {
  input[type=text].form-control {
    text-align: center;
  }

  .matches-table {
    .predict-host, .predict-rival {
      text-align: center;
      width: 35%;
    }
  }
}

.link {
  cursor: pointer;
  @extend a
}

#login {
  color: #ffffff;
}

.btn.btn-social {
  padding: 10px;

  .fa {
    font-size: 32px;
    width: 32px;
  }
}
