.card {
  .table {
    &.position-table {
      .points-column {
        display: table-cell;
      }
    }

    &.rank-table {
      tbody td:last-child {
        display: table-cell;
      }

      tbody td:first-child {
        width: 3rem;
      }
    }
  }
}

@media (max-width: 320px){
  .card {
    .table {
      &.rank-table tr, .alert {
        font-size: 11px !important;
      }

      .alert {
        padding: 8px 13px;
      }
    }
  }
}
