TWITTER_KEY=[puts your twitter api key here]
TWITTER_SECRET=[puts your twitter api secret here]
FACEBOOK_APP_ID=[puts your facebook api key here]
FACEBOOK_SECRET=[puts your facebook api secret here]
FWC_URL=[puts your local/fqdn url; ends with slash]
SESSION_SECRET="your Rack::Session::Cookie secret"
ANALYTICS_ID="your analytics ID"
