TWITTER_KEY=[Your key]
TWITTER_SECRET=[Your value]
TWITTER_NOTIFY_KEY=[Your key]
TWITTER_NOTIFY_SECRET=[Your value]
TWITTER_NOTIFY_TOKEN=[Your value]
TWITTER_NOTIFY_TOKEN_SECRET=[Your value]
FACEBOOK_APP_ID=[Your value]
FACEBOOK_SECRET=[Your value]
FWC_URL=https://funkyworldcup.com/
SESSION_SECRET=[Your value]
ANALYTICS_ID=[Your value]
DONATE_ENCRIPTED=[Your value]
LIVESCORE_API_KEY=[Your value]
LIVESCORE_API_SECRET=[Your value]
