        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Card 1.1</h4>
                    <p class="card-category">Card 1.1 Category</p>
                  </div>
                  <div class="card-body">
                    <div>Card Content</div>
                  </div>
                  <div class="card-footer">
                    <div class="legend">
                      <i class="fa fa-circle text-info"></i> Info
                      <i class="fa fa-circle text-danger"></i> Danger
                      <i class="fa fa-circle text-warning"></i> Warning
                    </div>
                    <hr>
                    <div class="stats">
                      <i class="fa fa-clock-o"></i> Footer text
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Card 1.2</h4>
                    <p class="card-category">Card 1.2 Category</p>
                  </div>
                  <div class="card-body">
                    <div>Card Content</div>
                  </div>
                  <div class="card-footer">
                    <div class="legend">
                      <i class="fa fa-circle text-info"></i> Info
                      <i class="fa fa-circle text-danger"></i> Danger
                      <i class="fa fa-circle text-warning"></i> Warning
                    </div>
                    <hr>
                    <div class="stats">
                      <i class="fa fa-clock-o"></i> Footer text
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Card 2.1</h4>
                    <p class="card-category">Card 2.1 Category</p>
                  </div>
                  <div class="card-body">
                    <div>Card Content</div>
                  </div>
                  <div class="card-footer">
                    <div class="legend">
                      <i class="fa fa-circle text-info"></i> Info
                      <i class="fa fa-circle text-danger"></i> Danger
                      <i class="fa fa-circle text-warning"></i> Warning
                    </div>
                    <hr>
                    <div class="stats">
                      <i class="fa fa-clock-o"></i> Footer text
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Card 2.2</h4>
                    <p class="card-category">Column 2.2 Category</p>
                  </div>
                  <div class="card-body">
                    <div>Card Content</div>
                  </div>
                  <div class="card-footer">
                    <div class="legend">
                      <i class="fa fa-circle text-info"></i> Info
                      <i class="fa fa-circle text-danger"></i> Danger
                      <i class="fa fa-circle text-warning"></i> Warning
                    </div>
                    <hr>
                    <div class="stats">
                      <i class="fa fa-clock-o"></i> Footer text
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
