.navbar-nav {
  .nav-item {
    a.lang-flag {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin: .2rem;
    }
  }
}

.card {
  .table {
    &.position-table {
      .points-column {
        display: table-cell;
      }
    }
  }
}
