#navbar img#flag {
  width: 150px;
  vertical-align: top;
  text-align: center;
  display: inherit;
  position: relative;
  left: -5px;
  top: -4px;
}

#navbar a#home-link {
  color: white;
  position: relative;
  top: -8px;
}

#navbar .navbar-header .year {
  color: white;
  width: 100%;
  display: inline-block;
  font-size: 0.5em;
  text-align: right;
  position: relative;
  top: -23px;
  left: -13px;
}

#home-description .social-link {
  text-align: center;
}

.navbar-right .dropdown-toggle, .navbar-right .dropdown-toggle:hover {
  padding: 5px 0;
}
.navbar-right .dropdown-toggle img {
  max-width: 40px;
}

#content {
}
#sidebar {
  margin-top: 62px;
}
  #score-rank .panel { 
    width: 45%;
  }
  #score-rank .panel-body {
    font-size: 3em;
    text-align: center;
  }

  #create-group {
    width: 100%;
  }

.matches-table {
  
}
  .matches-table td {
    background-color: white !important;
    vertical-align: middle !important;
  }
    .matches-table td img {
      max-width: 70px;
    }
    .matches-table td .team {
      display: inline-block;
      font-size: 1.2em;
      padding: 0 10px;
      text-transform: uppercase;
      min-width: 144px;
      max-width: 144px;
      vertical-align: middle;
    }
    .matches-table td .time {
      font-size: 1.2em;
    }
    .matches-table td.text-primary {
      font-size: 1.5em;
      font-weight: bold;
    }
.fwc-separator {
  height: 1px;
  border-top: 1px solid #666666;
  width: 100%;
  padding: 5px 0;
}

.btn-full-width {
  width: 100%;
}

#new-prize-box {}
  #new-prize-box .col-lg-5 {
    padding-left: 0;
  }
#prizes-list .pager {
  margin: -3px 10px 0 0;
}
#prizes-list .pager li > a {
  padding: 2px 10px;
  font-size: 0.9em;
}
