#navbar img#flag {
  width: 150px;
  vertical-align: top;
  text-align: center;
  display: inherit;
  position: relative;
  left: -5px;
  top: -4px;
}

#navbar a#home-link {
  color: white;
  position: relative;
  top: -8px;
}

#navbar .navbar-header .year {
  color: white;
  width: 100%;
  display: inline-block;
  font-size: 0.5em;
  text-align: right;
  position: relative;
  top: -23px;
  left: -13px;
}

#home-description .social-link {
  text-align: center;
}

