html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#navbar img#flag {
  width: 150px;
  vertical-align: top;
  text-align: center;
  display: inherit;
  position: relative;
  left: -5px;
  top: -4px;
}

#navbar a#home-link {
  color: white;
  position: relative;
  top: -8px;
}

#navbar .navbar-header .year {
  color: white;
  width: 100%;
  display: inline-block;
  font-size: 0.5em;
  text-align: right;
  position: relative;
  top: -23px;
  left: -13px;
}

#home-description .social-link {
  text-align: center;
}

#login {
  margin-bottom: 35px;
}

.navbar-right .dropdown-toggle, .navbar-right .dropdown-toggle:hover {
  padding: 5px 0;
}
.navbar-right .dropdown-toggle img {
  max-width: 40px;
}

.home-container {
  margin-bottom: 53px;
}

#container {
  padding-bottom: 50px;
}

#sidebar {
  margin-top: 62px;
}
  #score-rank .panel { 
    width: 45%;
  }
  #score-rank .panel-body {
    font-size: 3em;
    text-align: center;
  }

  #create-group {
    width: 100%;
  }

.matches-table {}
  .matches-table td {
    vertical-align: middle !important;
    position: relative;
  }
    .matches-table td img {
      max-width: 70px;
    }
    .matches-table td.team-column {
      text-align: center;
      padding-top: 20px;
      width: 180px;
    }

    .matches-table td.text-center {
      width: 100px;
    }
    .matches-table td.info-column {
      width: 200px;
    }
    .matches-table td .team {
      display: inline-block;
      font-size: 1.2em;
      padding: 0 10px;
      text-transform: uppercase;
      line-height: 35px;
    }
    .matches-table td .time {
      font-size: 1.2em;
    }
    .matches-table td.text-primary {
      font-size: 1.5em;
      font-weight: bold;
    }
    .matches-table td .host-result {
      font-size: 2em;
      vertical-align: top;
      position: absolute;
      left: -40px;
      top: -13px;
      z-index: 999;
    }
    .matches-table td.result {
      vertical-align: top !important;
      padding-top: 35px;
    }
    .matches-table td.result .result-holder {
      position: relative;
    }

    .matches-table td .rival-result {
      font-size: 2em;
      vertical-align: top;
      position: absolute;
      right: -40px;
      top: -13px;
      z-index: 999;
    }
    .matches-table td .status {
      vertical-align: top;
    }
  
  .matches-table tr.mobile-info {
    display: none;
  }
  .matches-table.small-table {}
    .matches-table.small-table td img {
      max-width: 35px;
    }
    .matches-table.small-table td.team-column {
      text-align: center;
      padding-top: 10px;
      width: 130px;
    }

    .matches-table.small-table td.text-center {
      width: 50px;
    }
    .matches-table.small-table td.info-column {
      font-size: 0.8em;
    }
    .matches-table.small-table td .team {
      display: inline-block;
      font-size: 0.9em;
      padding: 0 5px;
      text-transform: uppercase;
      line-height: 16px;
    }
    .matches-table.small-table td .time {
      font-size: 0.7em;
    }
    .matches-table.small-table td.text-primary {
      font-size: 1.2em;
      font-weight: bold;
    }
    
    .matches-table.small-table td .host-result {
      font-size: 1em;
      vertical-align: top;
      position: absolute;
      left: -20px;
      top: 2px;
      z-index: 999;
    }
    .matches-table.small-table td.result {
      vertical-align: top !important;
      padding-top: 9px;
    }

    .matches-table.small-table td .rival-result {
      font-size: 1em;
      vertical-align: top;
      position: absolute;
      right: -20px;
      top: 2px;
      z-index: 999;
    }
    .matches-table.small-table td .status {
      vertical-align: top;
      font-size: 0.8em;
    }

.fwc-separator {
  height: 1px;
  border-top: 1px solid #666666;
  width: 100%;
  padding: 5px 0;
}

.btn-full-width {
  width: 100%;
}

#new-prize-box {}
  #new-prize-box .col-lg-5 {
    padding-left: 0;
  }
#prizes-list .pager {
  margin: -3px 10px 0 0;
}
#prizes-list .pager li > a {
  padding: 2px 10px;
  font-size: 0.9em;
}

#delete-group {
  margin-right: 10px;
}

.form-inline {
  display: inline;
}

#group-title {
  float: left;
}
#group-controls {
  margin-top: 23px;
}

#group-participants-list {
}
  .participant-img {
    width: 25px;
    height: 25px;
    margin: 0 3px;
  }
  #group-participants-list .badge {
    margin-top: 5px;
  }
  #group-participants-list .list-group-item .label {
    display: inline-block;
    padding: 5px;
    min-width: 32px;
    text-align: center;
  }
  .rank-box {
    display: inline-block;
    width: 45px;
    text-align: right;
  }

#group-participants-list.by-owner {
  width: 90%;
}
  #group-participants-list.by-owner li {
    position: relative;
  }
  #group-participants-list.by-owner button.btn-xs {
    position: absolute;
    float: right;
    left: 101%;
  }

.position-table .team-column, .position-table .position-column {
  vertical-align: middle;
}

.position-table img.flag {
  border: solid 1px #DDDDDD;
  width: 20%;
}

.navbar-nav > li.active {
  background-image: linear-gradient(#3e648d, #446e9b 30%, #6d94bf);
}

.fwc-highlight {
  background-color: #fcf8e3 !important;
}

#modal-predict {}

  #modal-predict form td {
    width: 25%;
    text-align: center;
  }
    #modal-predict form td.modal-host, #modal-predict form td.modal-rival {
      padding-top: 20px;
    }
    #modal-predict form td input {
      width: 60px;
      text-align: center;
    }

#predictions-table {}
  #predictions-table th {
    text-align: center;
  }
  #predictions-table td {
    text-align: center;
    vertical-align: middle;
  }
    #predictions-table td img {
      max-width: 30px;
    }

.dashboard-matches h4 {
  display: inline-block;
  width: 49%;
}

.right {
  text-align: right;
}

.dashboard-matches .group {
  padding: 0.3em 0.5em;
  color: #FEFEFE;
  background-color: #3399f3;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.7em;
  margin-right: 0.6em;
}

.disclaimer {
  color: #121212;
}

#positions-legend td {
  width: 10%;
}

footer {
  height: 50px;
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0 !important;
  padding-bottom: 0;
  border-radius: 0 !important;
  border: 0 !important;

}
  footer p {
    color: white;
    line-height: 40px;
    font-size: 0.8em;
  }
  footer a.tfm-logo {
    padding: 10px 5px;
  }

  footer #extra-footer {
    float: right;
  }
    footer #extra-footer p {
      float: left;
    }
    footer #extra-footer form {
      float: left;
      margin-top: 10px;
      margin-left: 20px;
    }

.small-mobile {
  display: none;
}

.mobile-result {
  display: none;
}

.lang-flag-left {
  padding-right: 15px !important;
}

.lang-flag-right {
  padding-left: 0px !important;
  padding-right: 25px !important;
}

#admin-dashboard-counts {}
  #admin-dashboard-counts .panel-body {
    font-size: 3em;
    text-align: center;
  }

.fb_iframe_widget{
  z-index: 1000;
}

#score-title-help {
  float: right;
}

.share-button {
  text-align: center;
  margin: 15px auto;
}

/* responsive */
@media (max-width: 479px) {
  #score-title-sidebar {
    width: 79%;
  }

  #nickname {
    display: none;
  }
  #main-navbar {
    display: none;
  }
  .small-mobile {
    display: list-item;
  }
  #wc-logo {
    display: none; 
  }
  #login {
    text-align: center;
  }
  #login h3 {
    margin-top: 10px; 
  }
  .social-link {
    display: inline-block;
  }

  .panel-body {
    padding: 5px 0;
  }

  .panel-body h4, .panel-body h3 {
    padding-left: 10px;
  }

  footer #extra-footer p {
    display: none; 
  }

  .mobile-result {
    display: block;
  }

  .matches-table {
    margin.left:1px;
  }
  .matches-table .info-column {
    display: none;
  }
  .matches-table .prediction-column {
    display: none;
  }
  .matches-table td img {
    max-width: 35px;
  }
  .matches-table .team-column {
    font-size: 0.7em;
    padding: 5px 0;
  }
  .matches-table td .host-result, .matches-table td .rival-result {
    display: none;
  }
  .matches-table td.result {
    padding-top: 20px;
  }

  .matches-table tr.mobile-info {
    display: table-row;
  }
    .matches-table tr.mobile-info td {
      text-align: center;
    }

  .matches-table.small-table td.team-column {
    width: 90px;
  }
  .matches-table.small-table .info-column {
    display: table-cell;
  }

  #modal-predict form td.modal-host, #modal-predict form td.modal-rival {
    padding-top: 6px;
  }
  #modal-predict form td.modal-host img, #modal-predict form td.modal-rival img{
    max-width: 45px;
  }
  #modal-predict form td .team {
    display: none;
  }

  #group-participants-list.by-owner {
    width: 80%;
  }

  .position-table th, .position-table td {
    font-size: 0.7em;
    font-weight: normal;
  }
  .position-table .team-name {
    display: none;
  }
  .position-table .team-column {
    width: 25px;
  }
  .position-table .team-column img {
    width: 25px;
  }
  .position-table .position-column {
    font-size: 60%;
  }
  .nav > li {
    display: inline-block;
  }
  .lang-flag-right {
    padding-right: 10px !important;
  }
  .lang-flag-left {
    padding-left: 0 !important;
    padding-right: 10px !important;
  }
  #group-controls {
    margin-top: 5px;
    margin-bottom: 15px;
    float: left !important;
  }
}

@media (min-width: 480px) and (max-width: 991px) {
  #score-title-sidebar {
    width: 90%;
  }

  #wc-logo {
    width: 60px; 
    float: left;
  }
  #login {
    float: left;
    padding-left: 40px;
    text-align: center;
    max-width: 78%;
  }
  .social-link {
    display: inline-block;
  }
  #login h3 {
    margin-top: 5px;
  }
  .navbar-header {
    float: left;
  }
  .navbar-collapse {
    display: block;
  }
  .navbar-right {
    float: right !important;
    margin: 0 10px 0 0;
  }
  #nickname {
    display: none;
  }
  #main-navbar {
    display: none;
  }
  .user-menu {
    display: none;
  }
  .small-mobile {
    display: list-item;
  }
  .matches-table td .host-result, .matches-table td .rival-result {
    display: none;
  }
  .matches-table td.result {
    padding-top: 20px;
  }
  .mobile-result {
    display: block;
  }
  .matches-table .info-column {
    display: none;
  }
  .matches-table.small-table .info-column {
    display: table-cell;
  }

  .matches-table.small-table td.team-column {
    width: 90px;
  }

  .nav > li {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .navbar-header {
    float: left;
  }
  .navbar-collapse {
    display: block;
  }
  .navbar-right {
    float: right !important;
    margin: 0 0 0 0;
  }
  .user-menu {
    display: none;
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: initial;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  .navbar-nav .open .dropdown-menu.pull-right {
    right: 0;
    left: auto;
  }
  .navbar-nav .open .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
  }
  .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999;
  }
  .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .open > .dropdown-menu {
    display: block;
  }
  .open > a {
    outline: 0;
  }
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .dropdown-menu-left {
    right: auto;
    left: 0;
  }
  .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #999;
  }
  .dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
  }
  .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }
  .dropup .caret,
  .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px solid;
  }
  .dropup .dropdown-menu,
  .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #nickname {
    display: none;
  }
}
@media (min-width: 1200px) {
}
