<% content_for(:title) { I18n.t('.positions.title') } %>

<div id="position-tables">
  <% groups.each_slice(2) do |group1, group2| %>
    <div class="row">
      <%= partial("cup_groups/_positions_table.html", group: group1) %>
      <%= partial("cup_groups/_positions_table.html", group: group2) %>
    </div>
  <% end %>
</div>

<% content_for :javascripts do %>
  <script src="/js/v-tooltip.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    Vue.use(VTooltip)

    new Vue({ el: "#position-tables" })
  </script>
<% end %>
