<div class="modal fade" id="group-<%= group.id %>-participants">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('.groups.participants') %></h5>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= partial("groups/_participants.html", group: group, participants: group.participants_by_rank) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-close btn-block" data-dismiss="modal"><%= I18n.t('.actions.close') %></button>
      </div>
    </div>
  </div>
</div>

