<% content_for(:title) { I18n.t('.groups.title') } %>

<% if groups.any? %>
  <div class="row">
    <% groups.each do |group| %>
      <%= partial("groups/_card.html", group: group) %>
    <% end %>
  </div>
<% else %>  
  <p class="text-center text-muted"><%= I18n.t('.groups.no_groups') %></p>
  <p class="text-center" >
    <a class="btn btn-primary" href="/groups/new"><%= I18n.t('.actions.create_group.') %></a>
  </p>
<% end %>
