production:
  db:
    host: ''
    port: ''
    user: ''
    password: ''
    database: ''

development:
  db:
    host: '127.0.0.1'
    port: '5432'
    user: 'fwc'
    password: 'changepasswordplease'
    database: 'funky_world_cup'

test:
  db:
    host: '127.0.0.1'
    port: '5432'
    user: 'fwc'
    password: 'changepasswordplease'
    database: 'funky_world_cup_test'
