<div class="card col-md-6 mr-auto ml-auto" id="home-login">
  <div class="text-center card-body">
    <h1><%= I18n.t('errors.not_found') %></h1>
    <p><%= I18n.t('errors.not_found_description') %></p>
    <% if current_user.nil? %>
      <hr>
      <p><%= I18n.t('.home.text_alt') %></p>
      <br>
      <a class="btn btn-social btn-round btn-twitter" href="/auth/twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="btn btn-social btn-round btn-facebook" href="/auth/facebook">
        <i class="fa fa-facebook"></i>
      </a>
    <% end %>
  </div>
</div>
