<div id="world-map" style="height: 400px"></div>
<% content_for :javascripts do %>
  <script src="/js/jquery-jvectormap-2.0.3.min.js" type="text/javascript"></script>
  <script src="/js/jquery-jvectormap-world-mill.js" type="text/javascript"></script>

  <script>
    window.$ = window.jQuery = $

    const mapData = <%= map_hash.to_json %>

    let included = function(code) {
      keys = Object.keys(mapData.values)

      return keys.indexOf(code) != -1
    }

    $('#world-map').vectorMap({
      map: 'world_mill',
      backgroundColor: 'transparent',
      zoomOnScroll: false,
      regionStyle: {
        initial: {
          fill: '#e4e4e4',
          'fill-opacity': 1,
          stroke: 'none',
          'stroke-width': 0,
          'stroke-opacity': 0.5
        }
      },

      series: {
        regions: [mapData]
      },

      onRegionClick: function (evt, region) {
        if(included(region)) {
          window.location.href = "/teams/" + region
        }
      }

    })

    let map = $("#world-map").vectorMap('get', 'mapObject')
    map.updateSize()
  </script>
<% end %>
