<div class="alert alert-primary alert-with-icon dashboard-alert" data-notify="container" id="user-dismiss-rules">
  <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
    <i class="nc-icon nc-simple-remove"></i>
  </button>
  <span data-notify="icon" class="nc-icon nc-bell-55"></span>
  <span data-notify="message">
    <strong><%= I18n.t(".dashboard.rules_title") %>: </strong><%= I18n.t(".dashboard.rules") %>
  </span>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $("#user-dismiss-rules").on("close.bs.alert", function () {
      $.ajax({
        type: "PUT",
        url: "/users/<%= user.id %>/toggle_rules"
      })
    })
  </script>
<% end %>
