<div class="col-md-9">
  <h2>Dashboard</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Next Matches</div>
    <div class="panel-body">
      <h4>Group A</h4>
      <table class="table table-striped table-hover matches-table">
        <tbody>
          <tr>
            <td>
              <p>12 JUN. 2014</br>
              Arena de São Paulo</br>
              São Paulo
              </p>
            </td>
            <td>
              <img src="http://img.fifa.com/images/flags/4/bra.png">
              <span class="team">Brazil</span>
            </td>
            <td class="text-center">
              <span class="time">17:00</br>GMT-3
              </span>
            </td>
            <td>
              <span class="team">Croatia</span>
              <img src="http://img.fifa.com/images/flags/4/cro.png">
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-primary btn-sm">Predict</button>
            </td>
          </tr>
          <tr>
            <td>
              <p>12 JUN. 2014</br>
              Arena de São Paulo</br>
              São Paulo
              </p>
            </td>
            <td>
              <img src="http://img.fifa.com/images/flags/4/bra.png">
              <span class="team">Brazil</span>
            </td>
            <td class="text-center">
              <span class="time">17:00</br>GMT-3
              </span>
            </td>
            <td>
              <span class="team">Croatia</span>
              <img src="http://img.fifa.com/images/flags/4/cro.png">
            </td>
            <td class="text-center text-primary">
              2 - 0
            </td>
          </tr>
        </tbody>
      </table>
      <h4>Group C</h4>
      <table class="table table-striped table-hover matches-table">
        <tbody>
          <tr>
            <td>
              <p>12 JUN. 2014</br>
              Arena de São Paulo</br>
              São Paulo
              </p>
            </td>
            <td>
              <img src="http://img.fifa.com/images/flags/4/bra.png">
              <span class="team">Brazil</span>
            </td>
            <td class="text-center">
              <span class="time">17:00</br>GMT-3
              </span>
            </td>
            <td>
              <span class="team">Croatia</span>
              <img src="http://img.fifa.com/images/flags/4/cro.png">
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-primary btn-sm">Predict</button>
            </td>
          </tr>
          <tr>
            <td>
              <p>12 JUN. 2014</br>
              Arena de São Paulo</br>
              São Paulo
              </p>
            </td>
            <td>
              <img src="http://img.fifa.com/images/flags/4/bra.png">
              <span class="team">Brazil</span>
            </td>
            <td class="text-center">
              <span class="time">17:00</br>GMT-3
              </span>
            </td>
            <td>
              <span class="team">Croatia</span>
              <img src="http://img.fifa.com/images/flags/4/cro.png">
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-primary btn-sm">Predict</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
