<h3><%= I18n.t('.dashboard.title') %></h3>
<div class="panel panel-default dashboard-matches">
  <div class="panel-heading"><%= I18n.t('.dashboard.upcoming') %></div>
  <div class="panel-body">
    <% @matches.each do |match| %>
      <%= partial("pages/_match.html", :match => match) %>
    <% end %>
  </div>
</div>
<%= render("views/shared/_prediction_modal.html.erb", id: current_user.id) %>
