<h2>Dashboard</h2>
<div class="panel panel-default dashboard-matches">
  <div class="panel-heading">Upcoming Matches</div>
  <div class="panel-body">
    <% @matches.each do |match| %>
      <%= partial("pages/_match.html", :match => match) %>
    <% end %>
  </div>
</div>
<%= render("views/shared/_prediction_modal.html.erb", id: current_user.id) %>
