<h2>Dashboard</h2>
<div class="panel panel-default">
  <div class="panel-heading">Next Matches</div>
  <div class="panel-body">
    <% @groups.each do |group| %>
      <%= partial("pages/_cup_group.html", :group => group) %>
    <% end %>
  </div>
</div>
