<h3>Aclaración</h3>
<div class="disclaimer">
  <p>
  Three Funky Monkeys no se responsabiliza por ningún tipo de daños que surjan del uso, referencia o dependencia de ningún tipo de información contenida en este sitio.
  </p>

  <p>
    La responsabilidad de los premios definidos es pura y exclusiva del creador del grupo en el que el premio está definido.
  </p>

  <p>
    La aparición de publicidad de produdctos o servicios no constituye un aval por parte de Three Funky Monkeys, de la misma forma que Three Funky Monkeys no ha investigado los reclamos de ningún publicitante. La información de los productos está basada solamente en el material provisto por los proveedores.
  </p>

  <p>
    Three Funky Monkeys se compromete a borrar todo premio que sea encontrado ofensivo y/o ilegal, además de blockear y expulsar al usuario que lo haya creado.
  </p>
</div>
