<h3>Disclaimer</h3>
<div class="disclaimer">
  <p>
  Three Funky Monkeys is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site.
  </p>

  <p>
  Responsibility for the defined prizes is taken solely by the owner of the group where the prize is defined.
  </p>

  <p>
  The appearance on the Web site of advertisements and product or service information does not constitute an endorsement by Three Funky Monkeys, and Three Funky Monkeys has not investigated the claims made by any advertiser. Product information is based solely on material received from suppliers.
  </p>

  <p>
  Three Funky Monkeys commits to delete any prize that's found offensive and/or illegal and to block the user who created it. 
  </p>
</div>
