<h3>Welcome!</h3>
<p>
  <span>Please, take a look at the rules.</span>
  <span>
    or you can <a href="/dashboard">go to the dashboard</a> and read them later from the <strong>Help</strong> menu.
  </span>
</p>
<br/>
<%= render("./views/shared/_rules.html") %>
<div id="rules-action">
  <p class="text-success">
    You can access these rules from the <strong>Help</strong> menu at any given time
  </p>
  <a href="/dashboard" class="btn btn-success">I got it!</a>
</div>
