<div class="card col-md-4 mr-auto ml-auto" id="home-login">
  <div class="text-center card-body">
    <h2 class="page-header"><%= I18n.t('.home.title') %></h2>
    <p><%= I18n.t('.home.text') %></p>
    <br>
    <a class="btn btn-social btn-round btn-twitter" href="/auth/twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-social btn-round btn-facebook" href="/auth/facebook">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
</div>
