<div class="row d-flex justify-content-center align-items-center fixed-height">
  <div class="col-lg-8 col-md-12 col-sm-8 card-wrapper">
    <div class="card">
      <div class="card-header">
        <div class="card-title"><h3>Reglas</h3></div>
      </div>
      <div class="card-body">
        <div class="fixed-content">
          <p>
            Funky World Cup es un sitio web para seguir los resultados de la copa mundial de la FIFA.
            Además, te permite arriesgar los resultados y jugar compartiendo con tus amigos.
          </p>

          <h4 id="users">Usuarios</h4>
          <p>
            Funky World Cup usará la red social que elijas, solo para que ingreses al sitio, pero nunca escribirá en ellas ni por si misma, ni en tu nombre.
          </p>

          <h4 id="results">Resultados</h4>
          <p>
            Puedes encontrar la lista de los próximos partidos en tu Panel o en el Fixture, cada partido muestra el resultado indicando si el partido se está jugando o si ya finalizó.
            Cada partido, además, tiene un botón para que arriesgues el resultado. Este botón estará disponible hasta el momento del inicio del partido, una vez que el partido haya comenzado, no será posible arriesgar un resultado.
          </p>

          <h4 id="score">Puntaje</h4>
          <p>
            Verás a la derecha, arriba en tu pantalla, tus puntos y tu ranking. Este último es calculado entre todos los usuarios de Funky World Cup y está basado en tu puntaje.

            Tu puntaje se acumula por cada resultado que arriesgues. Cada "predicción" tiene cierto puntaje, calculado así:
            <ul>
              <li>Acertaste el resultado (ganado/empatado/perdido) y la cantidad exacta de goles para ambos equipos, ganas 3 puntos</li>
              <li>Acertaste el resultado (ganado/empatado/perdido), pero no la cantidad de goles para los equipos, ganas 1 punto</li>
              <li>No acertaste ni el resultado ni los goles, ganas 0 puntos</li>
              <li>No arriesgaste el resultado para el partido, ganas 0 puntos</li>
            </ul>
            <h5>Para tiros penales</h5>
            <ul>
              <li>Acertaste el ganador y el resultado exacto de los penales, ganas 3 puntos extra</li>
              <li>Acertaste el ganador, pero no el resultado exacto de los penales, ganas 1 punto extra</li>
              <li>No acertaste el ganador, ganas 0 puntos extra</li>
              <li>No arriesgaste un resultado para los penales, ganas 0 puntos extra</li>
            </ul>
            <p>
              Entonces, tomemos como ejemplo un partido entre el Equipo A y el Equipo B, empate 2 a 2, donde el Equipo A gana 5 a 3 en los penales<br/>
              Si arriesgaste el resultado 2 a 2, ganas 3 puntos (por el resultado y los goles exactos)
              Después, si arriesgaste el resultado de los penales y:
              <ul>
                <li>Arriesgaste un 5 a 3 para el Equipo A, ganas 3 puntos extra, por lo tanto, tendrías 6 puntos en total</li>
                <li>Arriesgaste otro resultado ganador para el Equipo A en penales, ganas 1 punto extra, teniendo 4 puntos en total</li>
                <li>Arriesgaste una victoria del Equipo B en los penales, ganas 0 puntos extra, quedandote así con 3 puntos en total</li>
                <li>No arriesgaste un resultado por penales, ganas 0 puntos extra, quedandote así con 3 puntos en total</li>
              </ul>
            </p>
          </p>

          <h4 id="groups">Grupos</h4>
          <p>
            Como la mayoría de las cosas en la vida, Funky World Cup, es mejor con amigos.
            Puedes crear grupos e invitar a tus amigos para jugar juntos. Los usuarios tienen una posición dentro del grupo, basado en su puntuación, que determinará el ganador de cada grupo.
          </p>

          <h4 id="prizes">Premios</h4>
          <p>
            Dentro de cada grupo, puedes definir premios para jugar con tus amigos. Estos premios son exclusiva responsabilidad de los usuarios y solamente figurativos para Funky World Cup, por lo que Three Funky Monkeys no tiene ninguna responsabilidad sobre estos. Que los miembros de tu grupo que pierden, paguen los premios tendrás que lograrlo tu mismo, por lo que recomendamos invitar a tus grupos solo a gente de confianza.
            Si se detectara algún premio ilegal y/u ofensivo en cualquiera de tus grupos, todos los miembros del grupo serán expulsados del sistema y no podrán volver a jugar en Funky World Cup.

            Esto es todo!! Es realmente simple. Ahora, diviertete!

            Esperamos que disfrutes de Funky World Cup.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
