<div class="row d-flex justify-content-center align-items-center fixed-height">
  <div class="col-lg-8 col-md-12 col-sm-8 card-wrapper">
    <div class="card">
      <div class="card-header">
        <div class="card-title"><h3>Rules</h3></div>
      </div>
      <div class="card-body">
        <div class="fixed-content">
          <p>
            The Funky World Cup is a match prediction site, focused in the FIFA World Cup.
            It allows you to predict the result for the matches for the different stages, and share with your friends.
          </p>

          <h4 id="users">Users</h4>
          <p>
            Funky World Cup will only use your social network users for authentication purposes. We will never post in your timeline nor in your behalf anywhere.
          </p>

          <h4 id="predictions">Predictions</h4>
          <p>
            You can find the list of the upcoming matches in your dashboard or in the complete fixture, each match will show the result, indicating if it's in progress or ended.
            Each match, also, have a button to predict the result. This button will be available up to the match start, once the match is started, you can no longer predict the result.
          </p>

          <h4 id="score">Score</h4>
          <p>
            You have a score and a rank, shown at the top of the right bar. This rank is calculated among all the Funky World Cup users and based in your score.

            You will build your score with your predictions each prediction have a score, calculated like this:
            <ul>
              <li>You predicted correctly the result (win/draw/lose) and the exact score, you win 3 points</li>
              <li>You predicted correctly the result (win/draw/lose), but not the score, you win 1 point</li>
              <li>You predicted incorrectly the result, you win 0 points</li>
              <li>You didn't add a prediction, you win 0 points</li>
            </ul>
            <h5>For penalty kicks</h5>
            <ul>
              <li>You predicted correctly the winner and the exact score for the penalty kicks, you win 3 extra points</li>
              <li>You predicted correctly the winner but not the exact score for the penalty kicks, you win 1 extra point</li>
              <li>You predicted incorrectly the winner, you win 0 extra points</li>
              <li>You didn't add a prediction for penalty kicks, you win 0 extra points</li>
            </ul>
            <p>https://www.electronicsdatasheets.com/manufacturers/beagleboard/parts/pocketbeagle?utm_source=Facebook&utm_medium=PPC&utm_campaign=LC
              So, consider a match between Team A and Team B, tied 2 - 2, where Team A wins by 5 - 3 on penalty kicks.<br/>
              If you predicted a 2 - 2, you get 3 points (result AND score)
              Then, if you added a prediction for the penalty kicks and:
              <ul>
                <li>Predicted the 5 - 3 for the Team A, you get 3 extra points, making 6 points out of that match</li>
                <li>Predicted any other result for the win of Team A, you get 1 extra point, making 4 points out of that match</li>
                <li>Predicted victory of Team B, you get 0 extra points, making 3 points out of that match</li>
                <li>Didn't add a prediction for penalty kicks, you get 0 extra points, making 3 points out of that match</li>
              </ul>
            </p>
          </p>

          <h4 id="groups">Groups</h4>
          <p>
            Like most of the things in life, Funky World Cup,  is better with friends.
            You can create groups and invite your friends to play with you. Users, will have a position within a group based on the score.
          </p>

          <h4 id="prizes">Prizes</h4>
          <p>
            You can define prizes within the group, so you can bet with your friends, however, Funky World Cup takes no responsibility for them, they are just figurative to us, you are responsible for what you bet and you have to manage to collect from your friends. So we recommend inviting only people you can trust.
            If any illegal prize is found in any of your groups, all the members of that group will be banned and you will no longer be able to play Funky World Cup.

            So, that's it. It's pretty simple. Now, funky it up!

            We hope you enjoy the Funky World Cup.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
