<% content_for(:title){ current_user.admin ? I18n.t('.predictions.title_admin', name: user.name) : I18n.t('.predictions.title') } %>

<div class="card" id="predictions-table">
  <div class="card-header"></div>
  <% if predictions.any? %>
    <%= partial("users/_predictions.html", predictions: predictions) %>
  <% else %>
    <div class="card-body">
      <p><%= I18n.t('.predictions.no_predictions') %></p>
    </div>
  <% end  %>
  </div>
</div>
